%h1.center= @title

.containner
	.row
		%form.form-inline#-form{ :action =>'#', :method => "get", :enctype => "multipart/form-data" }
			.form-group
				%label{:for => 'dist_id'} Distribution ID
				%input.form-control#dist_id{:type => 'text', :placeholder => 'EMD_....'}
			.form-group
				%label{:for => 'start_datetime'} Start Date/Time:
				%input.form-control#start_datetime{:type => 'datetime-local'}
			.form-group
				%label{:for => 'end_datetime'} End Date/Time:
				%input.form-control#end_datetime{:type => 'datetime-local'}
				/ .col-md-2
				/ 	.form-group
				/ 		%label Range Selector
				/		%input.form-control#range_selecter{:type =>'text'}
				/ Need to add this in later
			%input.form-control.btn.btn-mc.btn-primary#bounceback-search{:type => 'submit', :remote => 'true'}


	.row
		%table#results_table.table-striped.table-hover.display-hidden
		
	.row
		.col-md-4.col-md-offset-4#bounce_back_table_loader.display-hidden
			%img{:src => '/img/ajax-loader.gif', :width => '50px', :height => '50px'}





			